<h1>Hello <%= current_user.name %></h1>

<div>
  <ul>
    <% @posts.each do |p| %>
      <li>
        <h2><%= p.title %></h2>
        <p><%= p.body %></p>
        <%= link_to "See Post", p %>
      </li>
    <% end %>
  </ul>
</div>
<div>
</div>
<div>
  <%= link_to "Create Post", new_post_path %>
  <%= link_to "Feed", posts_path %>
</div>
<%= button_to "Sign Out", destroy_user_session_path, method: :delete %>