<div class="nav">
  <%= link_to "Profile", user_path(current_user) %>
  <%= link_to "Feed", :root %>
  <%= link_to "Post", new_post_path %>
  <%= link_to "Connect", users_path %>
</div>

<h1>Hello <%= current_user.name %></h1>

<h2>Connect:</h2>

<div>
  <ul>
    <% @users.each do |u| %>
      <li>
        <h2><%= link_to u.name, u %></h2>
      </li>
    <% end %>
  </ul>
</div>