<%= stylesheet_link_tag "classes.css" %>


<% @posts.each do |p| %>
  <div>
      <h3><%= User.where(id: p.user_id).first.name %></h3>
      <h2><%= link_to p.title, p %></h2>
      <p><%= p.body %></p>
      <div class="links">
        <div data-controller="visibility" data-visibility-shown-class="visibility--shown">
          <button data-action="visibility#show" class="btn">Comment</button>
          <div class="comment-form">
            <%= form_with model: @comment do |form| %>
              <%= form.hidden_field :page, {value: 0} %>
              <%= form.hidden_field :user_id, {value: current_user.id} %>
              <%= form.hidden_field :post_id, {value: p.id} %>
              <%= form.label :body, "Comment" %>
              <%= form.text_area :body, {placeholder: "Your Text Here"} %>
              <%= form.submit "Add" %>
            <% end %>
          </div>
        </div>
        <% if current_user != User.where(id: p.user_id).first %>
            <div class="like">
              <% if Like.where(user_id: current_user.id).where(post_id: p.id).empty? %>
                <%= form_with model: @like do |form| %>
                  <%= form.hidden_field :page, {value: 0} %>
                  <%= form.hidden_field :user_id, {value: current_user.id} %>
                  <%= form.hidden_field :post_id, {value: p.id} %>
                  <%= form.submit "Like", class: "btn" %>
                <% end %>
              <% else %>
                <%= button_to "Un Like", like_path(Like.where(user_id: current_user.id).where(post_id: p.id).first), method: :delete, class: "btn" %>
              <% end %>
            </div>
            <div class="follow">
              <% if Follow.where(follower_id: current_user.id).where(influencer_id: p.user_id).empty? %>
                <%= form_with model: @follow do |form| %>
                  <%= form.hidden_field :page, {value: 0} %>
                  <%= form.hidden_field :follower_id, {value: current_user.id} %>
                  <%= form.hidden_field :influencer_id, {value: p.user_id} %>
                  <%= form.submit "Follow", class: "btn" %>
                <% end %>
              <% else %>
                <%= button_to "UnFollow", follow_path(Follow.where(follower_id: current_user.id).where(influencer_id: p.user_id).first), method: :delete, class: "btn" %>
              <% end %>
            </div>
          </div>
        <% end %>
    </div>
    <div>
      <% if !p.comments.empty? %>
        <ul>
          <li>
            <h3><%= User.find(Comment.where(post_id: p.id)[-1].user_id).name %></h3>
            <p><%= Comment.where(post_id: p.id)[-1].body %></p>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
<% end %>
<%= link_to "My Profile", user_path(current_user) %>


