<div class="nav">
  <%= link_to "Profile", user_path(current_user) %>
  <%= link_to "Feed", :root %>
  <%= link_to "New Post", new_post_path %>
</div>

<h1><%= link_to @user.name, user_path(@user) %></h1>

<div>
  <h1><%= @post.title %></h1>
  <p><%= @post.body %></p>
</div>

<div class="links">
  <div data-controller="visibility" data-visibility-shown-class="visibility--shown">
    <button class="btn" data-action="visibility#show">Comment</button>
    <div class="comment-form">
      <%= form_with model: @comment do |form| %>
        <%= form.hidden_field :page, {value: 1} %>
        <%= form.hidden_field :user_id, {value: current_user.id} %>
        <%= form.hidden_field :post_id, {value: @post.id} %>
        <%= form.label :body, "Comment" %>
        <%= form.text_area :body, {placeholder: "Your Text Here"} %>
        <%= form.submit "Add" %>
      <% end %>
    </div>
  </div>
  <% if current_user.id == @author.id %>
    <%= button_to "Destroy", post_path(@post), method: :delete, class: "btn" %>
  <% else %>
    <div class="like">
      <% if LikedPost.where(user_id: current_user.id).where(post_id: @post.id).empty? %>
        <%= form_with model: @like do |form| %>
          <%= form.hidden_field :page, {value: 1} %>
          <%= form.hidden_field :user_id, {value: current_user.id} %>
          <%= form.hidden_field :post_id, {value: @post.id} %>
          <%= form.submit "Like", class: "btn" %>
        <% end %>
      <% else %>
        <%= button_to "UnLike", liked_post_path(LikedPost.where(user_id: current_user.id).where(post_id: @post.id).first), method: :delete, class: "btn" %>
      <% end %>
    </div>
    <div class="follow">
      <% if Follow.where(follower_id: current_user.id).where(influencer_id: @post.user_id).empty? %>
        <%= form_with model: @follow do |form| %>
          <%= form.hidden_field :page_id, {value: @post.id} %>
          <%= form.hidden_field :page, {value: 1} %>
          <%= form.hidden_field :follower_id, {value: current_user.id} %>
          <%= form.hidden_field :influencer_id, {value: @post.user_id} %>
          <%= form.submit "Follow", class: "btn" %>
        <% end %>
      <% else %>
        <%= button_to "UnFollow", follow_path(Follow.where(follower_id: current_user.id).where(influencer_id: @post.user_id).first), method: :delete, class: "btn" %>
      <% end %>
    </div>
  <% end %>
</div>

<div>
  <h3>Comments:</h3>
  <% if !@post.comments.empty? %>
    <ul>
      <li>
        <h3><%= User.find(Comment.where(post_id: @post.id)[-1].user_id).name %></h3>
        <p><%= Comment.where(post_id: @post.id)[-1].body %></p>
      </li>
    </ul>
  <% end %>
</div>

<div class="users-likes">
  <h3>Likes:</h3>
  <% @users_liked.each do |user| %>
    <ul>
      <li>
        <h3><%= link_to user.name, user %></h3>
      </li>
    </ul>
  <% end %>
</div>


